<footer class="page-footer black light">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">Chineme Care Foundation, Inc. is a Nigeria based Non Profit Organization, founded by Vitalis Okechukwu, MD that serves the people of Nigeria. The Foundation's focus is large on the less privileged of rural communities, especially the elderly, children and widows, providing them with FREE Health Care and related necessities.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Quick Link</h5>
          <ul>
            <li><a class="white-text" href="/">Home</a></li>
            <li><a class="white-text" href="about">About</a></li>
            <li><a class="white-text" href="donate">Donate</a></li>
            <li><a class="white-text" href="event">Event</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <span class="fa fa-envelope"></span> info@chinemefoundation.org
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="_blank">Nelxxy</a>
      </div>
    </div>
  </footer>